{% extends "base.html" %}
{% block head %}
    <title>Notice....</title>
    <script type="text/javascript">
        var t = 3;
        {% if to_url %}
            var page_name = "{{ to_url[0] }}"
            var url = "{{ to_url[1] }}";
        {% else %}
            var url = "{{ url_for('home.index') }}"
            var page_name = "首页"
        {% endif %}
        function refer(){
            if (t == 0) {
                location = url
            }
            document.getElementById('show').innerHTML = t + "秒后跳转到" + page_name + "！";
            t--;
        }
        setInterval("refer()", 1000);
    </script>
{% endblock %}
{% block content %}
    <h2 style="color: red; text-align: center">请确认消息</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set cate,msg = messages[-1] %}
            {% if (cate == 'emer' or cate =='error') %}
                <script type="text/javascript">
                    alert({{ msg|tojson|safe }})
                </script>
            {% else %}
                <ul>
                    {% for cate, msg in messages %}
                        <li class_="{{ cate }}">{{ msg }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            <h3 style="color: red; text-align: center">Welcome</h3>
        {% endif %}
    {% endwith %}
    <h3 id="show" style="color: red; text-align: center"></h3>
{% endblock %}